@import './css/cssReset';
@import url('https://fonts.googleapis.com/css?family=Rubik');

html{
	body{
		position: relative;
		font-family: 'Rubik', sans-serif;
		#root{
			.Routes{
				.TopNavigation{
					position: fixed;
					left: 250px;
					right: 0;
					height: 60px;
					transition: all .3s;
					background-color: #f5f6fa;
					box-shadow: 0px 0px 2px rgba(0,0,0,.3);
					z-index: 4;
					.Menu{
						position: absolute;
						right: 10px;
						.profileToggle{
							border-radius: 10px;
							box-shadow: none;	
							border: none;
							display: inline-block;
							background-color: transparent;
							svg{
								font-size: 25px;
								color: #34495e;
							}
						}
						.card-title{
							display: inline-block;
						}
						.ProfileAuth{
							position: fixed;
							top: 60px;
							right: 48px;
							width: 230px;
							box-shadow: 0px 0px 2px rgba(0,0,0,.4);
							.card{
								border-radius: 0;
								.card-body{
									background-color: #fdfdfd;
									text-align: center;
									img{
										width: 100px;
										height: 100px;
										cursor: pointer;
										border-radius: 50%;
									}
									.viewProfile{
										margin-top: 20px;
										.card-title{
											font-size: 15px;
											font-weight: bold;
										}
										.card-text{
											font-size: 14px;
										}
									}
								}
								.card-footer{
									background-color: #fdfdfd;
									position: relative;
									height: 50px;
									.btnSignIn{
										position: absolute;
										left: 15px;
										height: 30px;
										box-shadow: none;
										font-size: 25px;
										color: #34495e;
										background-color: transparent;
										cursor: pointer;
										transition: all .2s; 	
										&:hover{
											filter: drop-shadow(1px 1px 1px rgba(0,0,0,.4));
										}
									}
									.btnSignOut{
										position: absolute;
										right: 15px;
										height: 30px;
										box-shadow: none;
										font-size: 25px;
										color: #34495e;
										background-color: transparent;
										cursor: pointer;
										transition: all .2s; 	
										&:hover{
											filter: drop-shadow(1px 1px 1px rgba(0,0,0,.4));
										}
									}
								}
							}
						}
					}
					
					
				}
				.TopNavigation-Toogle{
					left: 110px;
				}
				.SideNavigation{
					position: relative;
					width: 250px;
					height: 100vh;
					.Row-1{
						position: fixed;
						width: 60px;
						height: 100vh;
						border-right: 2px solid rgba(0,0,0,.2);
						ul{
							text-align: center;
							li{
								padding-top: 20px;
								padding-bottom: 20px;
								cursor: pointer;
								transition: all .3s;
								&:hover{
									opacity: .5;
								}
								svg{
									color: #fdfdfd;
									font-size: 30px;
								}
							}
						}
					}
					.Row-2{
						position: fixed;
						width: 190px;
						height: 100vh;
						left: 60px;
						transition: all .3s;
						.Main_Title{
							margin-bottom: 40px;
							.Main_Title_Row_2{
								height: 60px;
								text-align: center;
								font-size: 25px;
								color: #fdfdfd;
								line-height: 60px;
							}
						}
						.Menu{
							max-height: 350px;
							overflow: hidden;
							overflow-y: auto;
							ul{
								transition: all .3s;
								.Dropdown{
									li{
										height: 40px;
										position: relative;
										color: #fdfdfd;
										padding-left: 20px;
										line-height: 40px;
										cursor: pointer;
										transition: all .2s;
										&:hover{
											opacity: .5;
											background-color: salmon;
										}
										&.active{
											
											border-top: 2px solid #38ada9;
											border-bottom: 2px dashed rgba(0,0,0,.2);
										}
										a{

										}
										.Dropdown-Icon{
											position: absolute;
											right: 10px;
											top: 10px;
											transition: all .3s;
											&.active{
												transform: rotate(90deg);
											}
										}
									}
									.Dropdown_Menu{
										overflow: hidden;
										transition: all .3s;
										.Menu{
											ul{
												border-bottom: 2px dashed rgba(0,0,0,.2);
												.Dropdown_Menu_Icon{
													width: 20px;
													font-size: 14px;
													margin-right: 10px;
												}
												li{
													padding-left: 30px;
													transition: all .2s;
													height: 40px;
													line-height: 40px;
													&:hover{
														
													}
													a{
														color: #fdfdfd;
														outline: none;
														font-size: 14px;
														&:hover{
															text-decoration: none;
														}
													}
												}
											}
										}
									}
								}
							}
						}
						
					}
					.Row-2-Toggle{
						ul{
							opacity: 0;
							li{
								padding: 10px;
							}
						}
					}
					.Row-1-Result{
						position: relative;
						.left{
							position: fixed;
							height: 100vh;
							width: 300px;
							left: -300px;
							z-index: 6;
							overflow: hidden;
							transition: all .3s;
							background-color: #ffffff;
							ul{
								li{
									padding: 10px 30px 10px 30px;
									text-align: center;
									a{
										color: #2f3542;
										font-size: 25px;
										margin: 20px;
										cursor: pointer;
										svg{
											color: #2d3436;
											transition: all .3s;
											&:hover{
												filter: drop-shadow(0px 0px rgba(0,0,0,.5));
												transform: scale(1.5);
											}
										}
									}
								}
							}
						}
						.left-toggle{
							left: 0px;
						}
						.right{
							position: fixed;
							height: 100vh;
							width: 100%;
							left: 0;
							z-index: 5;
							background-color: rgba(0,0,0,.2);
							display: none;
							cursor: pointer;	
						}
						.right-toggle{
							display: block;
						}
					}
				}
				.Content{
					position: absolute;
					z-index: 3;
					left: 250px;
					right: 0;
					top: 60px;
					min-height: 100vh;
					transition: all .3s;
					background-color: #fdfdfd;
					padding-top: 20px;
					.Btn-Slider{
						position: fixed;
						top: 60px;
						left: 235px;
						border: none;
						outline: none;
						cursor: pointer;
						height: 30px;
						width: 30px;
						border-radius: 50%;
						transition: all .3s;
						background-color:#f5f6fa;

						&:hover{
							background-color:#f5f6fa;
							box-shadow: 0px 0px 1px rgba(0,0,0,.5);
						}
						.Btn-Slider-Icon{
							transition: all .3s linear;
							&.active{
								transform: rotate(180deg);
							}
						}
					}
					.Btn-Slider-Toggle{
						left: 95px;
					}
					.Loading{
						margin-top: 100px;
						img{
							width: 50px;
							height: 50px;
							animation: Spinner infinite 3s linear;
						}
					}
					.authAlertCard{
						margin-top: 100px;
						.container{
							.row{
								.col-lg-4{
									.card{
										border-radius: 0;
										box-shadow: 0px 0px 2px rgba(0,0,0,.2);
										.card-body{
											text-align: center;
											.card-title{
												font-size: 20px;
											}
											a{
												font-size: 17px;
											}	
										}
									}
								}
							}
						}
					}
					.Dashboard{
						.container-fluid{
							.row{
								.col-lg-6:nth-child(1){
									.card{
										.card-body{
											padding: 20px;
											cursor: pointer;
											background-color: #487eb0;
											box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
											.card-title{
												font-size: 30px;
												color: #f5f6fa;
											}
											.card-text{
												font-size: 17px;
												color: #f5f6fa;
											}
										}
									}
								}
								.col-lg-6:nth-child(2){
									.card{
										.card-body{
											cursor: pointer;
											background-color: #0097e6;
											box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
											.card-title{
												font-size: 30px;
												color: #f5f6fa;
											}
											.card-text{
												font-size: 17px;
												color: #f5f6fa;
											}
										}
									}
								}
								.col-lg-6:nth-child(3){
									.card{
										.card-body{
											cursor: pointer;
											background-color: #273c75;
											box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
											.card-title{
												font-size: 30px;
												color: #f5f6fa;
											}
											.card-text{
												font-size: 17px;
												color: #f5f6fa;
											}
										}
									}
								}
								.col-lg-6:nth-child(4){
									.card{
										.card-body{
											cursor: pointer;
											background-color: #c23616;
											box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
											.card-title{
												font-size: 30px;
												color: #f5f6fa;
											}
											.card-text{
												font-size: 17px;
												color: #f5f6fa;
											}
										}
									}
								}
							}
						}
					}
					.Charts{
						.container-fluid{
							.row{
								.col-lg-12{
									nav{
										ol{
											border-radius: 0;
											background-color: #f5f6fa;
											box-shadow: 0px 0px 1px rgba(0,0,0,.2);
											li{
												font-size: 17px;
												height: 30px;
												line-height: 30px;
											}
										}
									}
								}
								.col-lg-6{
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
							}
						}
					}
					.BootstrapForm{
						.container-fluid{
							.row{
								.col-lg-12{
									nav{
										ol{
											border-radius: 0;
											background-color: #f5f6fa;
											box-shadow: 0px 0px 1px rgba(0,0,0,.2);
											li{
												font-size: 17px;
												height: 30px;
												line-height: 30px;
											}
										}
									}
								}
								.col-lg-6{
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
							}
						}
					}
					.TableBootstrap{
						.container-fluid{
							.row{
								.col-lg-12{
									ol{
										border-radius: 0;
										background-color: #f5f6fa;
										box-shadow: 0px 0px 1px rgba(0,0,0,.2);
										li{
											font-size: 17px;
											height: 30px;
											line-height: 30px;
										}
									}
								}
								.col-lg-6{
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
							}
						}
					}
					.ReduxCrud{
						.container-fluid{
							.row{
								.col-lg-12:nth-child(1){
									ol{
										border-radius: 0;
										background-color: #f5f6fa;
										box-shadow: 0px 0px 1px rgba(0,0,0,.2);
										li{
											font-size: 17px;
											height: 30px;
											line-height: 30px;
										}
									}
								}
								.col-lg-12:nth-child(2){
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
								.col-lg-12:nth-child(3){
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
							}
						}
					}
					.FirebaseCrud{
						.container-fluid{
							.row{
								.col-lg-12:nth-child(1){
									ol{
										border-radius: 0;
										background-color: #f5f6fa;
										box-shadow: 0px 0px 1px rgba(0,0,0,.2);
										li{
											font-size: 17px;
											height: 30px;
											line-height: 30px;
										}
									}
								}
								.col-lg-12:nth-child(2){
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
								.col-lg-12:nth-child(3){
									.card{
										border-top: 2px solid #c7ecee;
										.card-header{
											background-color: #f5f6fa;
											border: none;
											font-size: 17px;
											color: #2f3640;
											height: 40px;
											line-height: 20px;
											span{
												cursor: pointer;
												position: absolute;
												right: 10px;
												svg{

												}
											}
										}
										.card-body{

										}
									}
								}
							}
						}
					}
					.UpdateProfile{
						.container-fluid{
							.row{
								.col-lg-4{
									.card{
										border-radius: 0;
										box-shadow: 0px 0px 1px rgba(0,0,0,.4);
										.card-body{
											.text-center{
												img{

												}
												.card-title{
													margin-top: 20px;
												}
											}
											.card-text{
												font-size: 17px;
												svg{
													width: 30px;
													font-size: 17px;
												}
											}
										}
										.card-footer{
											background-color: #fdfdfd;
											button{
												box-shadow: none;
												border-radius: 0;
												border: none;
												background-color: #f1c40f;
												transition: all .2s;
												&:hover{
													background-color: #f2ca26;
												}
												&:active{
													background-color: #d9b00d;
												}
											}
										}
									}
								}
								.col-lg-8{
									.card{
										border-radius: 0;
										box-shadow: 0px 0px 1px rgba(0,0,0,.4);
										.card-body{
											form{
												.row{
													label{

													}
													.col-md-9{
														input{

														}
														select{

														}
													}
												}
												.form-group{
													label{

													}
													button{
														box-shadow: none;
														border-radius: 0;
														border: none;
														background-color: #f1c40f;
														transition: all .2s;
														&:hover{
															background-color: #f2ca26;
														}
														&:active{
															background-color: #d9b00d;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.SettingView{
						.container-fluid{
							.row:nth-child(1){
								.col-lg-12{
									nav{
										ol{
											border-radius: 0;
											background-color: #f5f6fa;
											box-shadow: 0px 0px 1px rgba(0,0,0,.2);
											li{
												font-size: 17px;
												height: 30px;
												line-height: 30px;
											}
										}
									}
								}
								.col-lg-12{
									.card{
										border: none;
										.card-body{

											button{
												border: none;
												border-radius: 0;
												box-shadow: none;
												background-image: linear-gradient(right, #00cec9, #d63031);
											}
										}
									}
								}
							}
							.row:nth-child(2){
								.col-lg-12{
									.card{
										.card-header{
											text-align: center;
											background-color: #fdfdfd;
										}
										.card-body{
											form{
												.form-row{
													.col-lg-1{

														.form-check{
															.form-check-label{
																input{

																}
																div{

																}
															}
														}
													}
												}
												.text-center{
													margin-top: 20px;
													button{
														border: none;
														border-radius: 0;
														background-image: linear-gradient(left, #00cec9, #d63031);
													}
												}
												
											}
										}
										
									}
								}
							}
						}
					}
				}
				.ContentSlider{
					left: 110px;
				}
				.ContentAuth{
					padding-bottom: 30px;
					.Auth{
						.container-fluid{
							.row{
								.col-lg-5{
									.button_action{
										padding: 10px;
										text-align: center;
										button{
											margin: 5px;
											
											border: none;
											margin-top: 40px;
											border-radius: 5px;
											box-shadow: none;
											background-color: #1e3799;
											transition: all .2s;
											&:hover{
												background-color: #2645c0;
											}
											&:active{
												background-color: #192e80;
											}
										}
									}
									.card{
										.card-body{
											box-shadow: 0px 0px 2px rgba(0,0,0,.2);
											.SignIn{
												.card-title{
													color: #1e3799;
													text-align: center;
													font-size: 35px;
												}
												.card-text{
													color: #1e3799;
													text-align: center;
													font-size: 15px;
												}
												form{
													margin-top: 40px;
													.form-group{
														position: relative;
														margin-bottom: 30px;
														input{
															height: 50px;
															border-radius: 0;
															border: none;
															border-bottom: 2px solid #1e3799;
															transition: all .3s;
															padding-left: 33px;
															&:focus{
																box-shadow: none;
																border-bottom: 2px solid #353b48;
															}
															&:focus ~.iconForm{
																top: -10px;
																left: 10px;
																font-size: 14px;
															}
															&:not(:focus):valid ~.iconForm{
																top: -10px;
																left: 10px;
																font-size: 14px;
															}
														}
														.iconForm{
															position: absolute;
															top: 15px;
															left: 10px;
															transition: all .3s;
															font-size: 17px;
														}
														.iconPassword{
															position: absolute;
															top: 15px;
															right: 10px;
															font-size: 20px;
															cursor: pointer;
														}
														button{
															border: none;
															border-radius: 10px;
															box-shadow: none;
															background-color: #1e3799;
															transition: all .2s;
															&:hover{
																background-color: #2645c0;
															}
															&:active{
																background-color: #192e80;
															}
														}
													}
												}
											}
											.SignUp{
												.card-title{
													color: #1e3799;
													text-align: center;
													font-size: 35px;
												}
												.card-text{
													color: #1e3799;
													text-align: center;
													font-size: 15px;
												}
												form{
													.form-group{
														position: relative;
														margin-bottom: 30px;
														input{
															height: 50px;
															border-radius: 0;
															border: none;
															border-bottom: 2px solid #1e3799;
															transition: all .3s;
															&:focus{
																box-shadow: none;
																border-bottom: 2px solid #353b48;
															}
															&:focus ~.labelInput{
																top: -10px;
																left: 0;
																font-size: 14px;
															}
															&:not(:focus):valid ~.labelInput{
																top: -10px;
																left: 0;
																font-size: 14px;
															}
														}
														.labelInput{
															position: absolute;
															top: 15px;
															left: 10px;
															transition: all .3s;
															font-size: 17px;
														}
														.iconPassword{
															position: absolute;
															top: 10px;
															right: 10px;
															font-size: 20px;
															cursor: pointer;
														}
														button{
															border: none;
															border-radius: 10px;
															box-shadow: none;
															background-color: #1e3799;
															transition: all .2s;
															&:hover{
																background-color: #2645c0;
															}
															&:active{
																background-color: #192e80;
															}
														}
													}
													.form-row{
														.col-md-8{
															.form-group{
																label{
																}
																select{
																	height: 50px;
																	border-radius: 0;
																	border: none;
																	border-bottom: 2px solid #1e3799;
																	transition: all .3s;
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px){
	html{
		body{
			#root{
				.Routes{
					.TopNavigation{
						left: 110px;
						.Menu{
							.profileToggle{
								svg{
								}
							}
							.card-title{
							}
							.ProfileAuth{
								.card{
									.card-body{
										img{
										}
										.viewProfile{
											.card-title{
											}
											.card-text{
											}
										}
									}
									.card-footer{
										.btnSignIn{
											&:hover{
											}
										}
										.btnSignOut{
											&:hover{
											}
										}
									}
								}
							}
						}
						
						
					}
					.TopNavigation-Toogle{
						left: 250px;
						right: -250px;
					}
					.SideNavigation{
						position: fixed;
						.Row-1{
							position: fixed;
							ul{
								li{
									&:hover{
									}
									svg{
									}
								}
							}
						}
						.Row-2{
							position: fixed;
							ul{
								opacity: 0;
								.Main_Title_Row_2{
								}
							}
							.Menu{
								ul{
									opacity: 0;
									.Dropdown{
										li{
											&:hover{
											}
											&.active{
											}
											a{

											}
											.Dropdown-Icon{
												&.active{
												}
											}
										}
										.Dropdown_Menu{
											.Menu{
												ul{
													.Dropdown_Menu_Icon{
													}
													li{
														&:hover{
															
														}
														a{
															&:hover{
															}
														}
													}
												}
											}
										}
									}
								}
							}
							
						}
						.Row-2-Toggle{
							ul{
								opacity: 1;
							}
							.Menu{
								ul{
									opacity: 1;
									li{
									}
								}
							}
							
						}
						.Row-1-Result{
							.left{
								ul{
									li{
										a{
											svg{
												&:hover{
												}
											}
										}
									}
								}
							}
							.left-toggle{
							}
							.right{
							}
							.right-toggle{
							}
						}
					}
					.Content{
						left: 110px;
						.Btn-Slider{
							left: 95px;
							&:hover{
							}
							.Btn-Slider-Icon{
								&.active{
								}
							}
						}
						.Btn-Slider-Toggle{
							
							left: 235px;
						}
						.Loading{
							img{
							}
						}
						.authAlertCard{
							.container{
								.row{
									.col-lg-4{
										.card{
											.card-body{
												.card-title{
												}
												a{
												}	
											}
										}
									}
								}
							}
						}
						.Dashboard{
							.container-fluid{
								.row{
									.col-lg-6:nth-child(1){
										.card{
											.card-body{
												.card-title{
													font-size: 20px;
													font-weight: bold;
												}
												.card-text{
													font-size: 15px;
												}
											}
										}
									}
									.col-lg-6:nth-child(2){
										.card{
											.card-body{
												.card-title{
													font-size: 20px;
													font-weight: bold;
												}
												.card-text{
													font-size: 15px;
												}
											}
										}
									}
									.col-lg-6:nth-child(3){
										.card{
											.card-body{
												.card-title{
													font-size: 20px;
													font-weight: bold;
												}
												.card-text{
													font-size: 15px;
												}
											}
										}
									}
									.col-lg-6:nth-child(4){
										.card{
											.card-body{
												.card-title{
													font-size: 20px;
													font-weight: bold;
												}
												.card-text{
													font-size: 15px;
												}
											}
										}
									}
								}
							}
						}
						.Charts{
							.container-fluid{
								.row{
									.col-lg-12{
										nav{
											ol{
												li{
												}
											}
										}
									}
									.col-lg-6{
										.card{
											.card-header{
											}
											.card-body{

											}
										}
									}
								}
							}
						}
						.BootstrapForm{
							.container-fluid{
								.row{
									.col-lg-12{
										nav{
											ol{
												li{
												}
											}
										}
									}
									.col-lg-6{
										.card{
											.card-header{
											}
											.card-body{
											}
										}
									}
								}
							}
						}
						.TableBootstrap{
							.container-fluid{
								.row{
									.col-lg-12{
										nav{
											ol{
												li{
												}
											}
										}
									}
									.col-lg-6{
										.card{
											.card-header{
											}
											.card-body{
											}
										}
									}
								}
							}
						}
						.UpdateProfile{
							.container-fluid{
								.row{
									.col-lg-4{
										.card{
											.card-body{
												.text-center{
													img{
													}
													.card-title{
													}
												}
												.card-text{
													svg{
													}
												}
											}
											.card-footer{
												button{
													&:hover{
													}
													&:active{
													}
												}
											}
										}
									}
									.col-lg-8{
										.card{
											.card-body{
												form{
													.row{
														label{

														}
														.col-md-9{
															input{

															}
															select{

															}
														}
													}
													.form-group{
														label{

														}
														button{
															&:hover{
															}
															&:active{
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
						.SettingView{
							.container-fluid{
								.row:nth-child(1){
									.col-lg-12{
										nav{
											ol{
												li{
												}
											}
										}
									}
									.col-lg-12{
										.card{
											border: none;
											.card-body{

												button{
												}
											}
										}
									}
								}
								.row:nth-child(2){
									.col-lg-12{
										.card{
											.card-header{
											}
											.card-body{
												form{
													.form-row{
														.col-lg-1{

															.form-check{
																.form-check-label{
																	input{

																	}
																	div{

																	}
																}
															}
														}
													}
													.text-center{
														button{
														}
													}
													
												}
											}
											
										}
									}
								}
							}
						}
					}
					.ContentSlider{
						left: 250px;
						right: -250px;
					}
					.ContentAuth{
						.Auth{
							.container-fluid{
								.row{
									.col-lg-5{
										.button_action{
											button{
												&:hover{
												}
												&:active{
												}
											}
										}
										.card{
											.card-body{
												.SignIn{
													.card-title{
													}
													.card-text{
													}
													form{
														.form-group{
															input{

																&:focus{
																}
																&:focus ~.iconForm{
																}
																&:not(:focus):valid ~.iconForm{
																}
															}
															.iconForm{
															}
															.iconPassword{
															}
															button{
																&:hover{
																}
																&:active{
																}
															}
														}
													}
												}
												.SignUp{
													.card-title{
													}
													.card-text{
													}
													form{
														.form-group{
															input{
																&:focus{
																}
																&:focus ~.labelInput{
																}
																&:not(:focus):valid ~.labelInput{
																}
															}
															.labelInput{
															}
															.iconPassword{
															}
															button{
																&:hover{
																}
																&:active{
																}
															}
														}
														.form-row{
															.col-md-8{
																.form-group{
																	label{
																	}
																	select{
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@keyframes Spinner {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}